body{
  background-image: url("images/background.png");
  background-repeat: no-repeat; /* Prevents tiling */
  background-size: cover; /* Scales the image to cover the entire viewport */
  background-position: center; /* Centers the image */
  height:100%;

        font-family: "Exo 2", serif;
    }

svg 
    .cls-1 {
    fill: #8e4246;
     }

      .cls-1 {
        fill: #3d623f;
      }

      .cls-1 {
        fill: #744b4a;

      }
      .container {
        height: 100%;
        display: grid;
        grid-gap: 3px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 100px 40px 40px;
        grid-template-areas: 
            "t t t t t t . . f f f f"
            ". . . . . . . . f f f f"
            "i i i i i i . . f f f f";
    }

  .frog-container {
      grid-area: f;
  }
    .text-container {
        grid-area: t;
    }

    .icon-container {
        grid-area: i;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }