body{
  background-image: url("images/background.png");
  background-repeat: no-repeat; /* Prevents tiling */
  background-size: cover; /* Scales the image to cover the entire viewport */
  background-repeat: repeat-y;
  background-position: center; /* Centers the image */
  font-family: "Grandstander", serif;
  height:100vh;
  width:100vw;
  overflow:hidden;
}


svg 
    .email{
      fill: #811564;
      transform: scale(.95);
    }

      #instagram {
        fill: #811564;
        transform: scale(1.1);
      }

     #pintrest {
      fill: #811564;
      transform: scale(.85);

      }
      .container {
        height: 100%;
        display: grid;
        width:100vw;
        height:100vh;
        grid-gap: 3px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, 1fr) ;
        grid-template-areas: 
            "t t t t t t f f f f f f"
            ". . . . . . f f f f f f"
            ". . . . . . f f f f f f"
            "i i i i . . . . . . . .";
    }

  .frog-container {
      grid-area: f;
      width:200px;
      margin-right:30%;
  }
    .text-container {
        grid-area: t;
        color: rgb(1, 88, 46);
        font-size: 30px;
        font-weight: 500;
        margin-left: 10%;
        margin-top: 10%;

    }

    .icon-container {
        grid-area: i;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    h1{
     font-weight: 700;
     font-style: normal;
     font-size: 65px;
  }
  h2{
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
  }


    /* svg hover effects */

 #pintrest:hover{
      fill:rgb(5, 107, 1);
    }
    #instagram:hover{
      fill:rgb(5, 107, 1);
    }
    .email:hover{
      fill:rgb(5, 107, 1);
    }

    @media (max-width: 750px) { 

      .text-container {
        grid-area: t;
        color: rgb(1, 88, 46);
        font-size: 20px;
        font-weight: 500;
        margin-left: 10%;
        margin-top: 10%;
      }

      .container {
        display: grid;
        width:100vw;
        height:100vh;
        grid-gap: 3px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr) ;
        grid-template-areas: 
            "t t t t"
            "f f f f"
            "f f f f"
            "f f f f"
            ". . . ."
            ". i i .";
    }

    .frog-container {
      grid-area: f;
      width: 100%; /* Adjust the width to fit the screen */
      max-width: 1000px; /* Ensure the image does not get too large */
      margin: 70px auto; /* Center the frog image */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .frog-container img {
      width: 100%;
      height: auto;
      object-fit: contain; /* Prevents the image from stretching */
    }
    h1{
      font-weight: 700;
      font-style: normal;
      font-size: 40px;
      text-align: center;
   }
   h2{
     font-weight: 500;
     font-style: normal;
     font-size: 30px;
     text-align: center;
   }
 
  }